@import "node_modules/ol/ol.css";

html, body {
  height: 100%;
  overflow: hidden;
}


#map-container {
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#map-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.8;
  
}
#mouse-location {
  position: absolute;
  bottom: 35px;
  right: 25px;
  opacity: 0.8;
  
}

.row {
  display: flex;
  justify-content: center;
  align-items: right;
}
/* drawing box */
.box {
  border-radius: 0.25rem;
  padding: 1rem;
}


/* draw text  */
.input-group-text {
  background-color: #0f0f0f;
  color: #f5eded;
  border: none;
  opacity: 0.5;
}


/* trash buttons */
.btn-success {
  color: #f3eded;
  background-color: rgba(0,0,0,0.5); /* Change the background color to the desired dark color */
  border-color: rgba(14, 10, 10, 0); /* Set border color to transparent */
 
}
/* trash buttons */
.btn-success:hover {
  color: #fff;
  background-color: rgba(204, 21, 21, 0.8); /* Change the background color on hover to desired darker color */
  border-color: rgba(0,0,0,0); /* Set border color to transparent */
}



/* select basemap */
.form-select {
  width: 200px;
  margin-right: 10px;
  right: 0;
}



/* layer chooser  */
#layer-chooser-container {
  position: absolute;
  top: 50px;
  transform: translateY(-50%);
}


#layer-chooser {
  position: relative;
  top: 500px;
  padding: 10px;
  border-radius: 5px;
  opacity: 0.8;
  bottom: 35px;
  right: 25px; 
  
}

/* Adjust the position and size of the search container */
.search-container {
  position: absolute;
  top: 60px;
  left: 5px;
  width: 200px; /* adjust the width as needed */
}

/* Adjust the width of the search input and button */
.input-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.form-control {
  width: 70%; /* adjust the width as needed */
}
#search-btn {
  width: 30%; /* adjust the width as needed */
  background-color: #0f0f0f; /* set the initial background color of the button */
  transition: background-color 0.2s ease; /* add a smooth transition effect */
  opacity: 0.5;
}
#search-btn img {
  filter: invert(100%); /* make the search icon white */
}
#search-btn:hover {
  background-color: #131413; /* set the background color of the button when the mouse hovers over it */
  opacity: 0.8;
}
