@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}



#map-container {
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#map-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.8;
}
#mouse-location {
  position: absolute;
  top: 850px;
  right: 1530px;
  opacity: 0.8;
  
}


/* #sidebar img[src="images/house.svg"] {
  width: 16px;
  margin-right: 8px;
}

#sidebar img[src="images/layers.svg"] {
  width: 24px;
  margin-right: 12px;
}

#sidebar img[src="images/cloud-download.svg"] {
  width: 20px;
  margin-right: 10px;
} */


